@{
    ViewData["Title"] = "Turma Page";
}

<div class="text-center pt-3">
    <h1 class="display-4">Orquidario Luz</h1>
</div>

<div class="container mt-3">
    <div id="carouselMain" class="carousel slide carousel-dark" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
                <img src="/imag/img.jpg" class="d-none d-md-block w-100" alt="">
            </div>
        </div>
    </div>
    <hr class="mt-3">
</div>

</div>
  

   <main class="flex-fill">
     <div class="container">
       <div class="row g-4">
        <div class="col-12 col-sm-8 col-md-12 col-lg-4 col-xl-4">
          <img src="/imag/img15.jpg" class="img-responsive pull-left" width="350px" alt="">
        </div>
        <div class="col-12 col-sm-8 col-md-12 col-lg-4 col-xl-4">  
          <img src="/imag/img13.jpg" class="img-responsive pull-left" width="350px" alt="">
        </div>
        <div class="col-12 col-sm-8 col-md-12 col-lg-4 col-xl-4"> 
          <img src="/imag/img10.jpg" class="img-responsive pull-left" width="350px" alt="">
        </div>
        <div class="col-12 col-sm-8 col-md-12 col-lg-4 col-xl-4">
          <img src="/imag/img17.jpg" class="img-responsive pull-left" width="350px" alt="">
        </div>
        <div class="col-12 col-sm-8 col-md-12 col-lg-4 col-xl-4">
          <img src="/imag/img16.jpg" class="img-responsive pull-left" width="350px" alt="">
        </div>
        <div class="col-12 col-sm-8 col-md-12 col-lg-4 col-xl-4">
          <img src="/imag/img18.jpg" class="img-responsive pull-left" width="350px" alt="">
        </div>
        <div class="col-12 col-sm-8 col-md-12 col-lg-4 col-xl-4">
          <img src="/imag/img14.jpg" class="img-responsive pull-left" width="350px" alt="">
        </div>
        <div class="col-12 col-sm-8 col-md-12 col-lg-4 col-xl-4">
          <img src="/imag/img12.jpg" class="img-responsive pull-left" width="350px" alt="">
        </div>
        <div class="col-12 col-sm-8 col-md-12 col-lg-4 col-xl-4">
          <img src="/imag/img11.jpg" class="img-responsive pull-left" width="350px" alt="">
        </div>
    </div>
   </div>
   </main>
   

